.filters-group-container {
  margin-top: 16px;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.input-search-con {
  background-color: #f1f5f9;
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.5rem;
  border-radius: 4px;
}
.search-ele {
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  flex-grow: 1;
}
.search-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.category-heading {
  font-size: 1.2rem;
  font-family: 'Roboto';
  color: #0f172a;
}
.category-options-list {
  padding: 0;
}
.category-option {
  list-style-type: none;
  font-size: 0.8rem;
  font-family: 'Roboto';
  color: #64748b;
  line-height: 1.8;
  cursor: pointer;
}
.category-button {
  background-color: transparent;
  border: none;
  color: #64748b;
  font-family: 'Roboto';
  cursor: pointer;
}
